
h1 {
  color:black;
  font-size: calc(10px + 2vmin);
}

h2 {
  color:black;
  font-size: calc(5px + 1vmin);
}

<<<<<<< HEAD
h3 {
  color:black;
  font-size: calc(10px + 1vmin);
=======
.transition {
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
>>>>>>> 4200cb916a9676d3744b34d6ea8f6d5ae5ae6aaf
}

.Navbar {
  margin-bottom: 10vh;
}