/* FONTS */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUYevI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Glacial Indifference Bold';
  src: url(GlacialIndifference-Bold.otf);
}

@font-face {
  font-family: 'Glacial Indifference Regular';
  src: url(GlacialIndifference-Regular.otf);
}

/* NAVBAR */
.FullNavbar {
  margin-left: 10vw;
  margin-right: 10vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavbarItems {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links {
  color: white;
  font-size: 2.2vh;
  font-family: Glacial Indifference Regular;
}

.nav-links:hover {
  color: white;
  text-decoration: underline;
}

.nav-button {
  background-color: #E51C45;
  color:white;
  border-radius: 10px;
  border: none;
  stroke: none;
  vertical-align: center;
  text-align: center;
  font-size: 2.5vh;
  padding: 1.2vh 2.5vh 1.3vh 2.5vh;
  font-family: Glacial Indifference Bold;  
  font-size: 2.2vh;
}

.nav-button:hover {
  color: white;
  text-decoration: none;
  background-color: #F84D70;
}


.nav-background {
  background-image: none;
  background-color: transparent;
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 2vh;
  z-index: 8;
}

/* BUTTONS */
.button {
  background-color: #E51C45;
  color:white;
  border-radius: 10px;
  border: none;
  stroke: none;
  vertical-align: center;
  text-align: center;
  font-size: 2.5vh;
  padding: 1.2vh 2.5vh 1.3vh 2.5vh;
  font-family: Glacial Indifference Bold;
  margin-bottom: 2vh;
}

.button:hover {
  background-color: #F84D70;
}

.resume-button {
  background: #F5F4F7;
  border: 1px dashed #AAABAD;
  box-sizing: border-box;
  border-radius: 8px;
  width: 18vw;
}

/* TEXT */
.logo {
  display: inline-block;
  font-family: Glacial Indifference Bold;
  font-size: 4.3vh;
}

/* SIDENAV */
.sidenav-button {
  background-color: #3517EB;
  color: white;
  font-size: 2.2vh;
  font-family: Glacial Indifference Regular;
  display: inline-block;
  border: 0;
  border-radius: 10px 10px 0 0;
  padding: 1.2vh 2.5vh 1.3vh 2.5vh;
  box-shadow: 5px 0px 2px -2px rgb(158, 158, 158);
  position: sticky;
  z-index: 1;
  top: 14.2vw;
  left: 0px;
  vertical-align: top;
	transform: rotate(7deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -moz-transform: rotate(90deg); /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -o-transform: rotate(90deg); /* Opera */
}

.sidenav-open-button {
  left: 17%;
}

.sidenav-links {
  color: white;
  font-size: 2.2vh;
  font-family: Glacial Indifference Regular;
  transition: 0.3s;
  padding-top: 1.3vw;
  display: inline-block;
}

.sidenav-links:hover {
  color: white;
}

.sidenav-container {
  background-color: #3517EB;
  width: 17%;
  height: fit-content;
  top: 10vw;
  padding: 0 4vh 4vh 4vh;
  box-shadow: 0px 6px 2px -2px rgb(158, 158, 158);
  position: fixed;
  z-index: 1;
}

.main {
  transition: margin-left .5s;
}

.highlight {
  position:relative;
}

.highlight::before {
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  padding:0.5em;
  border-width:2px;
  border-style:solid;
  border-color:#3517EB;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.5;
  border-radius:0.25em;
}

.highlight::after {
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  padding:0.5em;
  border-width:2px;
  border-style:solid;
  border-color:#3517EB;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.5;
  border-radius:0.25em;
}

/* .react-pdf__Page__textContent span {
  opacity: 1;
} */

/* .react-pdf__Page__textContent span::selection {
	background-color: #3517EB;
  opacity: 0.5;
} */

h1 { 
  font-size: 2.65vw;
  font-family: Poppins;
  font-weight: 400;
}

h2 {
  font-size: 1.4vw;
  font-family: Poppins;
  font-weight: 500;
}

h3 {
  color:#1D2F6F;  
  font-size: 1.13vw;
  font-family: Nunito;
  font-weight: 600;
}

h4 {
  color:#1D2F6F;  
  font-size: 2vh;
  font-family: Nunito;
  font-weight: 600;
}

h5 {
  color:#1D2F6F;  
  font-size: 1.6vh;
  font-family: Nunito;
  font-weight: 600;
}

/* PAGE SETUP */
.container {
  max-width: 100%;
  padding: 0;
}

.blue-block {
  overflow: hidden;
  background-color: #3517EB;
  margin: 0;
}

.white-block {
  background-color: white;
}

.black-text {
  color: #152352;
}

.white-text {
  color: white;
}

.blue-text {
  color: #3517EB;
}

.content {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.image-rows {
  display: flex;
  justify-content: space-evenly;
}

.center-text {
  text-align: center;
}

.text-space {
  margin-bottom: 3.5vh;
}

/* FORM */
.form-field {
  background: #F5F4F7;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 18vw;
  height: 5vh;
  font-family: Nunito;
  font-size: 2.25vh;
}

.form-label {
  font-family: Nunito;
  font-size: 2.25vh;
  font-weight: 400;
  color: #152352;
}

.form-margin {
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.inline-form-text {
  display: flex;
  justify-content: space-between;
}

/* LOGIN BOX */
.login-box {
  box-sizing: content-box;
  padding: 2vw;
}


/* LANDING PAGE SPECIFIC */
.landing-text {
  margin-bottom: 5vh;
  position: relative;
  bottom: 10vh;
  z-index: 5;
}

.three-step {
  max-width: 18vw;
}

.landing-block {
  height: 100vh;
  display: flex;
  align-items: center;
}

.landing-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat (10, minmax(0, 1fr));
  grid-template-rows: repeat (10, minmax(0, 1fr));
  position: absolute;
  z-index: 1;
}

.main-blob {
  grid-column: 1 / 6;
  grid-row: 1 / 6;
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
}

.language-blob {
  grid-column: 6 / 8;
  grid-row: 3 / 6;
  object-fit: contain;
  max-width: 80%;
}

.gaming-blob {
  grid-column: 8 / 10;
  grid-row: 1 / 4;
  object-fit: contain;
  max-width: 80%;
}

.productivity-blob {
  grid-column: 7 / 9;
  grid-row: 5 / 8;
  object-fit: contain;
  max-width: 90%;
}